@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
html {
  scroll-behavior: smooth;
  direction: rtl;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.navbar-section {
  padding-top: 38px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-section .navbar-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-section .logo img {
  width: 130px;
}

.navbar-section .download img {
  width: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 150px;
}

.navbar-section .download .link-tag {
  display: inline-block;
  text-decoration: none;
}

.navbar-section .download .link-tag span {
  font-weight: bold;
  font-size: 12px;
}

.navbar-section .download .lang_link {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-section .download .lang_link img {
  width: 30px;
}

.navbar-section .download .lang_link span {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 5px;
}

.navbar-section .download .lang_link:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-section {
  padding-top: 200px;
  padding-bottom: 164px;
  position: relative;
}

.header-section::before {
  content: "";
  background-color: rgba(35, 31, 32, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.header-section .header-content h5 {
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  line-height: 60px;
  width: 50%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  z-index: 9;
}

.header-section .header-content p {
  font-size: 23px;
  color: #fff;
  direction: ltr;
  margin: 0;
  position: relative;
  z-index: 9;
}

.header-section .links {
  margin-top: 30px;
  position: relative;
  z-index: 9;
}

.header-section .links .link-tag {
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px 22px;
  margin-left: 16px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
}

.header-section .links .link-tag i {
  color: #0d1435;
  margin-right: 5px;
  font-size: 14px;
  display: inline-block;
}

.header-section .links .link-tag span {
  font-size: 16px;
  color: #0d1435;
}

.header-section .links .link-tag:last-child {
  background-color: transparent;
}

.header-section .links .link-tag:last-child span {
  color: #fff;
}

.header-section .links .link-tag:hover {
  -webkit-box-shadow: 0 3px 8px 0 rgba(64, 213, 125, 0.2);
          box-shadow: 0 3px 8px 0 rgba(64, 213, 125, 0.2);
  background-color: #e9e9e9;
}

.header-section .links .link-hover {
  position: relative;
  -webkit-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
  padding-left: 0px;
}

.header-section .links .link-hover .arrow-hover {
  -webkit-transform: scale(0);
          transform: scale(0);
  color: #fff;
  margin-top: 2px;
  opacity: 0;
  -webkit-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
}

.header-section .links .link-hover:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  padding-left: 20px;
  margin-left: 5px;
  background-color: #fff;
}

.header-section .links .link-hover:hover .arrow-hover {
  position: unset;
  -webkit-transform: none;
          transform: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  display: inline-block;
  color: #0d1435;
}

.header-section .links .link-hover:hover span {
  color: #0d1435;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-header h6 {
  color: #231f20;
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.section-header h5 {
  font-size: 30px;
  color: #000;
  margin: 0;
  font-weight: bold;
  margin-top: 5px;
}

.section-header span {
  content: "";
  width: 182px;
  background-color: #dfdfdf;
  height: 2px;
  margin-top: 20px;
  position: relative;
}

.section-header span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 65px;
  height: 2px;
  background-color: #231f20;
  opacity: .5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.program-section {
  margin-top: 98px;
}

.program-section:hover .section-header span::after {
  width: 100%;
}

.program-section .program-par {
  margin-top: 31px;
}

.program-section .program-par .par {
  color: #030b1b;
  font-weight: bold;
  font-weight: 18px;
  line-height: 35px;
}

.program-section .program-par .par2 {
  color: #030b1b;
  font-size: 14px;
  font-weight: 600;
  line-height: 31px;
}

.program-section .program-img {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: -100px;
}

.program-section .program-img img {
  width: 90%;
}

.howwork-section .how-work-parent {
  background-color: #f8f9fc;
  margin-top: 116px;
  padding: 51px 0;
  text-align: center;
  position: relative;
}

.howwork-section .how-work-parent:hover .section-header span::after {
  width: 100%;
}

.howwork-section .how-work-parent .circles .cir {
  width: auto;
  position: absolute !important;
}

.howwork-section .how-work-parent .circles .cir-1 {
  left: 29px !important;
  top: -73px !important;
}

.howwork-section .how-work-parent .circles .cir-2 {
  right: 41px !important;
  bottom: -461px !important;
  top: unset !important;
}

.howwork-section .how-work-parent .circles .cir-3 {
  right: 256px !important;
  top: 6px !important;
}

.howwork-section .how-work-parent .circles .cir-4 {
  left: 380px !important;
  bottom: -500px !important;
  top: unset !important;
}

.howwork-section .how-work-parent .section-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howwork-section .how-work-parent .section-header span::after {
  right: unset;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.howwork-card {
  margin-top: 40px;
}

.howwork-card img {
  width: 150px;
  height: 180px;
}

.howwork-card .card-title {
  margin-top: 19px;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.howwork-card .card-text {
  font-size: 14px;
  font-weight: 600;
  color: #030b1b;
  width: 225px;
  margin: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.howwork-card:hover .card-title {
  color: #231f20;
}

.howwork-card:hover .card-text {
  color: #030b1b;
}

.bigCirclePrarent {
  overflow: hidden;
  padding-bottom: 355px;
}

.digital-features {
  margin-top: 58px;
  position: relative;
}

.digital-features:hover .section-header span::after {
  width: 100%;
}

.digital-features .big-cir {
  position: absolute;
  left: -121px;
  top: 361px;
  width: 980px;
}

.feature-card {
  margin-top: 37px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.feature-card .card-img {
  width: 81px;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 7px 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 13px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  margin-bottom: 22px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.feature-card .card-img img {
  width: 50px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.feature-card .card-title {
  font-size: 14px;
  direction: ltr;
  color: #231f20;
}

.feature-card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.feature-card:hover .card-img {
  background-color: #231f20;
}

.feature-card:hover .card-img img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.feature-card:hover .card-title {
  color: #030b1b;
}

.what-provide {
  background-color: #231f20;
  padding-top: 61px;
  padding-bottom: 61px;
  width: 910px;
  max-width: 100%;
  margin-top: 93px;
  padding-right: 80px;
  position: relative;
}

.what-provide:hover .section-header span::after {
  width: 100%;
}

.what-provide .section-header h6 {
  color: #fff !important;
}

.what-provide .section-header h5 {
  color: #fff;
}

.what-provide .what-img {
  width: 570px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -280px;
}

.what-provide .what-img img {
  width: 100%;
}

.what-provide .what-lista {
  margin-top: 20px;
}

.what-provide .what-lista li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 16px;
}

.what-provide .what-lista li i {
  color: #ffffff;
  margin-top: 5px;
}

.what-provide .what-lista li span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 445px;
  max-width: 100%;
  margin-right: 7px;
  line-height: 26px;
}

.join-section .section-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.join-section .links {
  margin-top: 30px;
  position: relative;
  z-index: 9;
  text-align: center;
}

.join-section .links .link-tag {
  border-radius: 25px;
  border: 1px solid #fabb27;
  background-color: #fabb27;
  padding: 7px 20px;
  margin-left: 16px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
}

.join-section .links .link-tag i {
  color: #fff;
  margin-right: 5px;
  font-size: 14px;
  display: inline-block;
}

.join-section .links .link-tag span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.join-section .links .link-tag:last-child {
  background-color: #fff;
  border: 1px solid #231f20;
}

.join-section .links .link-tag:last-child span {
  color: #231f20;
}

.join-section .links .link-tag:hover {
  -webkit-box-shadow: 0 3px 8px 0 rgba(64, 213, 125, 0.15);
          box-shadow: 0 3px 8px 0 rgba(64, 213, 125, 0.15);
  background-color: #231f20;
}

.join-section .links .link-hover {
  position: relative;
  -webkit-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
  padding-left: 0px;
}

.join-section .links .link-hover .arrow-hover {
  -webkit-transform: scale(0);
          transform: scale(0);
  color: #fff;
  margin-top: 2px;
  opacity: 0;
  -webkit-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
}

.join-section .links .link-hover:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  padding-left: 20px;
  margin-left: 5px;
  background-color: #231f20;
  border-color: #231f20;
}

.join-section .links .link-hover:hover .arrow-hover {
  position: unset;
  -webkit-transform: none;
          transform: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  display: inline-block;
  color: #fff;
}

.join-section .links .link-hover:hover span {
  color: #fff;
}

.footer-section {
  background-color: #231f20;
  margin-top: 165px;
  padding: 39px 0 39px 0;
}

.footer-section .navbar-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section .logo img {
  width: 130px;
}

.footer-section .download img {
  width: 170px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-section .download img:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer-section .download .link-tag {
  text-decoration: none;
}

.footer-section .download .link-tag img {
  margin-right: 5px;
}

.footer-section .download .link-tag span {
  font-weight: bold;
  font-size: 12px;
}

.header-section {
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .program-section .program-img {
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .what-provide {
    padding-right: 0;
  }
  .what-provide .what-img {
    position: unset;
    -webkit-transform: none;
            transform: none;
    margin-top: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .header-section {
    padding-bottom: 90px;
  }
  .header-section .header-content h5 {
    width: 100%;
  }
  .howwork-section .how-work-parent .circles .cir-3 {
    right: 50px;
    top: 29px;
  }
  .howwork-section .how-work-parent .circles .cir-2 {
    right: 41px;
    bottom: 10px;
  }
  .howwork-section .how-work-parent .circles .cir-4 {
    left: 20px;
    bottom: -10px;
  }
  .form-section .form-img {
    background-color: transparent;
    padding-top: 0;
  }
}

@media (max-width: 540px) and (-webkit-min-device-pixel-ratio: 1.1) {
  .header-section {
    padding-bottom: 90px;
  }
  .header-section .header-content {
    text-align: center;
  }
  .header-section .header-content h5 {
    width: 100%;
  }
  .feature-card {
    text-align: center;
  }
  .feature-card .card-img {
    margin: auto;
    margin-bottom: 22px;
  }
  .what-provide .what-img img {
    display: none;
  }
  .bigCirclePrarent {
    padding-bottom: 100px;
  }
  .join-section .links {
    margin-top: 40px;
  }
  .footer-section {
    margin-top: 144px;
  }
  .footer-section .navbar-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .navbar-content .download {
    margin-top: 20px;
  }
  .form-section .form-content {
    padding-top: 175px;
  }
}

@media (max-width: 479px) {
  .header-section .header-content h5 {
    font-size: 40px;
    line-height: inherit;
  }
  .header-section .header-content .links .link-tag {
    display: block;
    margin: auto;
    width: 180px;
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) {
  .header-section .header-content h5 {
    font-size: 30px;
    line-height: inherit;
  }
  .header-section .header-content p {
    font-size: 18px;
  }
  .join-section .links .link-tag {
    width: 180px;
    margin-bottom: 10px;
  }
}

@media (max-width: 321px) {
  .section-header h5 {
    font-size: 27px;
  }
  .navbar-section .navbar-content .download {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */